anyio
appdirs==1.4.4
argon2-cffi 
argon2-cffi-bindings 
asttokens 
attrs 
Babel 
backcall 
beautifulsoup4 
bleach 
Bottleneck 
brotlipy==0.7.0
certifi 
cffi 
charset-normalizer 
click 
colorama 
comm 
confuse 
contourpy 
cryptography 
cycler 
debugpy 
decorator 
defusedxml 
entrypoints 
executing 
fastjsonschema 
fonttools==4.25.0
htmlmin 
idna 
ImageHash 
ipykernel 
ipython 
ipython-genutils 
ipywidgets 
jedi 
Jinja2 
joblib 
json5 
jsonschema 
jupyter 
jupyter-console 
jupyter-server 
jupyter_client 
jupyter_core 
jupyterlab 
jupyterlab-pygments 
jupyterlab-widgets 
jupyterlab_server 
kaleido==0.2.1
kiwisolver 
lxml 
MarkupSafe 
matplotlib 
matplotlib-inline 
missingno 
mistune 
nbclassic 
nbclient 
nbconvert 
nbformat 
nest-asyncio 
networkx 
notebook 
notebook_shim 
numexpr 
numpy 
packaging 
pandas==1.5.3
pandas-profiling 
pandoc==2.3
pandocfilters 
parso 
patsy 
pexpect 
phik 
pickleshare 
Pillow==9.4.0
platformdirs 
plotly==5.14.1
plotly-express==0.4.1
plumbum==1.8.2
ply==3.11
pooch 
prometheus-client 
prompt-toolkit 
psutil 
ptyprocess 
pure-eval 
pycparser 
pydantic 
Pygments 
pyOpenSSL 
pyparsing 
PyQt5-sip==12.11.0
pyrsistent 
PySocks 
python-dateutil 
python-dotenv 
pytz 
PyWavelets 
PyYAML 
pyzmq 
qtconsole 
QtPy 
requests 
scikit-learn==1.2.2
scipy==1.9.3
seaborn 
Send2Trash 
sip 
six 
sniffio 
soupsieve 
stack-data 
statsmodels 
tangled-up-in-unicode 
tenacity==8.2.2
terminado 
threadpoolctl==3.1.0
tinycss2 
toml 
tomli 
tornado 
tqdm 
traitlets 
typeguard 
typing_extensions 
urllib3 
visions 
wcwidth 
webencodings==0.5.1
websocket-client 
widgetsnbextension 
xgboost==1.7.6
ydata-profiling 
